@{
    ViewData["Title"] = "Home Page";
}

<hi>All Animals:</hi>

<ol>
    @foreach (Animal animal in Model)
    {
        <ul>
            <li>ID: @animal.AnimalId</li>
            <li>Name: @animal.Name</li>
            <li>Species: @animal.Species</li>
            <li>Age: @animal.Age</li>
            <li>Gender: @animal.Gender</li>
        </ul>
        <br>
    }
</ol>
